ul {
  list-style: none;
  padding: 10px;
}

.widget-container{
  padding: 5px;
}

.widget-header {
  border-radius: 3px;
  padding: 10px;
  cursor: pointer;
}

.widget-title {
  color: #fff;
}

.table-header {
  background-color: #f7f7f7;
  border-bottom: 1px solid #d6d6d6;
}

.table-content {
  height: 100px;
}

.table {
  background-color: white;
  border: 1px solid #d6d6d6;
  border-radius: 3px;
}

.containerTwo .table {
  display: none;
}

.containerTwo > .widget-container {
  flex: 0 0 100%;
  max-width: 100%;
}

.draggable-mirror {
  z-index: 10;
}

.containerOne > .draggable-mirror > .table {
  display: block;
}

.containerOne > .widget-container {
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
}
