<div class="row">
  <div class="col-9 border border-primary">

    <ul class="row containerOne">
      <li class="widget-container">
        <div class="widget-header bg-success">
          <span class="widget-title">Examinări</span>
        </div>
        <div class="table">
          <div class="table-header">----</div>
          <div class="table-content">----</div>
        </div>
      </li>

      <li class="widget-container">
        <div class="widget-header bg-info">
          <span class="widget-title">Internări</span>
        </div>
        <div class="table">
          <div class="table-header">----</div>
          <div class="table-content">----</div>
        </div>
      </li>
    </ul>

  </div>

  <div class="col-3 border border-danger">

    <ul class="row flex-column containerTwo">
      <li class="widget-container">
        <div class="widget-header bg-success">
          <span class="widget-title">Examinări</span>
        </div>
        <div class="table">
          <div class="table-header">----</div>
          <div class="table-content">----</div>
        </div>
      </li>

      <li class="widget-container">
        <div class="widget-header bg-info">
          <span class="widget-title">Internări</span>
        </div>
        <div class="table">
          <div class="table-header">----</div>
          <div class="table-content">----</div>
        </div>
      </li>

      <li class="widget-container">
        <div class="widget-header bg-danger">
          <span class="widget-title">Cereri de laborator</span>
        </div>
        <div class="table">
          <div class="table-header">----</div>
          <div class="table-content">----</div>
        </div>
      </li>
    </ul>

  </div>
</div>
